<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@model List<Codecool.CodecoolShop.Models.ShoppingCart>;


<h1>Shopping cart</h1>
<hr></hr>

<body>
    <table>


        <tr>
            

            <th>
                Product Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Quantity
            </th>
            <th>
                Subtotal
            </th>
            

        </tr>
        @{
            decimal total = 0;
        }
        @foreach (var product in Model)
        {

            <tr>

                <td>@product.name</td>

                <td>@product.defaultPrice</td>
                <td>@product.quantity &emsp; &emsp;
                    <style="display: inline-block">
                    &emsp;<a  asp-controller="ShoppingCart" asp-action="" asp-route-id="">&#8593</a>&emsp;

                    &emsp;<a asp-controller="ShoppingCart" asp-action="" asp-route-id="" style="display: inline-block">&#8595</a>&emsp;
                </td>
                <td> @product.subtotal</td>
                 
                
            </tr>
            
            total += @product.subtotal;
            
        }


    </table>
    <hr />

    <h3>
        Total Price :  @total<br />
        
    </h3>
    <h3><a asp-controller="ShoppingCart" asp-action="Checkout">Checkout</a></h3>

</body>