<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@model Codecool.CodecoolShop.Models.ShoppingCart;


<h1>Shopping cart</h1>
<hr></hr>

<body>
    <table>


        <tr>
            

            <th>
                Product Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Quantity
            </th>
            <th>
                Subtotal
            </th>
            

        </tr>
        @{
            decimal total = 0;
        }
        @foreach (var product in Model.Produtcs)
        {

            <tr>

                <td>@product.Key.Name</td>

                <td>@product.Key.DefaultPrice</td>
                <td>@product.Value &emsp; &emsp;
                    <style="display: inline-block">
                    &emsp;<a  asp-controller="ShoppingCart" asp-action="IncreaseQuantity" asp-route-id="@product.Key.Id">&#8593</a>&emsp;

                    &emsp;<a asp-controller="ShoppingCart" asp-action="DecreaseQuantity" asp-route-id="@product.Key.Id" style="display: inline-block">&#8595</a>&emsp;
                </td>
                <td>@(product.Key.DefaultPrice * product.Value)</td>
                 
                
            </tr>
            total += @product.Key.DefaultPrice * product.Value;
        }


    </table>
    <hr />

    <h3>
        Total Price :  @total
    </h3>

</body>